.footer-container {
    width: 100%;
    height: 100px;
    background: #EB5757;
    display: grid;
    grid-template-areas: 'image items';
    grid-template-columns: 100px auto;
    grid-template-rows: auto;
    &__image-content {
        grid-area: image;
        width: 100%;
        height: 100%;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__items {
        grid-area: items;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}